$colors-block-margins: (
  null: (60px, 0),
  small: (100px, 0),
  medium: (120px, 0),
);

.colors-block {
  @include element-indent($colors-block-margins, 'margin');

  position: relative;

  .flex-inner {
    &__item {
      width: 100%;
      margin-bottom: 22px;

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 376px) {
  .colors-block {
    .flex-inner {
      &__item {
        width: calc(50% - 11px);
        margin-right: 22px;

        &:nth-child(2n) {
          margin-right: 0;
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .colors-block {
    .flex-inner {
      &__item {
        width: calc(33.33% - 14.67px);
        margin-right: 22px;

        &:nth-child(2n) {
          margin-right: 22px;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .colors-block {
    .flex-inner {
      &__item {
        width: calc(25% - 16.5px);
        margin-right: 22px;

        &:nth-child(2n) {
          margin-right: 22px;
        }

        &:nth-child(3n) {
          margin-right: 22px;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .colors-block {
    .flex-inner {
      &__item {
        width: calc(20% - 17.6px);
        margin-right: 22px;

        &:nth-child(2n) {
          margin-right: 22px;
        }

        &:nth-child(3n) {
          margin-right: 22px;
        }

        &:nth-child(4n) {
          margin-right: 22px;
        }

        &:nth-child(5n) {
          margin-right: 0;
        }

        &:nth-last-child(3),
        &:nth-last-child(4),
        &:nth-last-child(5) {
          margin-bottom: 0;
        }
      }
    }
  }
}
