.footer {
  max-width: 1108px;
  min-height: 443px;
  margin: 0 auto;
  padding: 50px 30px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.035);
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
  }

  &__info {
    width: 261px;
    margin-right: auto;
    font-size: 16px;
    line-height: 26px;

    img {
      display: block;
      margin-bottom: 24px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;

    &__item {
      margin-right: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;

      &:last-child {
        margin-right: 0;
      }

      ul {
        list-style: none;

        li {
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 20px;
          font-weight: 400;

          a {
            text-decoration: none;
            color: map-get($grey-dark, 05);

            &:visited {
              color: map-get($grey-dark, 05);
            }

            &:hover {
              color: map-get($grey-dark, 06);
            }

            &:active {
              color: map-get($grey-dark, 08);
            }
          }
        }
      }
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.2px;
  }

  &__bottom {
    font-size: 14px;
    line-height: 22px;
    color: map-get($grey-dark, 07);
  }
}

@media (min-width: 400px) {
  .footer {
    &__menu {
      &__item {
        margin-right: 35px;
        width: calc(50% - 17.5px);
        text-align: left;

        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    &__menu {
      &__item {
        width: calc(20% - 26.25px);
        margin-bottom: 0;

        &:nth-child(2n) {
          margin-right: 35px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@media (min-width: 991px) {
  .footer {
    &__top {
      flex-wrap: nowrap;
    }

    &__menu {
      width: 75%;
      justify-content: flex-end;
      margin-top: 0;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    &__menu {
      width: 50%;

      &__item {
        width: calc(25% - 26.25px);
        margin-bottom: 0;

        &:nth-child(2n) {
          margin-right: 35px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
