.header {
  position: relative;
  background-color: #000;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 3.8px;
  display: flex;
  align-items: center;
  min-height: 33px;
  justify-content: flex-end;

  &__logo {
    text-align: left;
    margin: 9px 0 9px 25px;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -2px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__right {
    display: none;
    justify-content: flex-end;
    align-items: stretch;
    text-align: right;
    align-self: stretch;

    a {
      display: inline-flex;
      align-items: center;
      background-color: rgb(31, 65, 247);
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 0 17px;
      transition: background-color 0.15s ease-in, color 0.15s ease-in;

      svg {
        margin-right: 13.25px;

        path {
          fill: #fff;
          transition: fill 0.15s ease-in;
        }
      }

      .mobile {
        display: inline-block;
      }

      .desktop {
        display: none;
      }
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 150px;
    max-width: 100%;
    height: calc(100vh - 33px);
    padding: 25px 30px;
    background-color: map-get($button-colors, 'orange');
    z-index: 20;
    display: flex;
    flex-direction: column;
    transition: left 0.5s ease-in-out;

    &.open {
      left: 0;
    }

    a {
      margin-bottom: 20px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      color: #fff;
      transition: color 0.15s ease-in;
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 30px 0 auto;

    a {
      display: none;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      margin-right: 36px;
      transition: color 0.15s ease-in;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .header__menu a:hover {
    color: #d7fe3c;
  }

  .header__mobile-menu a:hover {
    color: map-get($grey-dark, 03);
  }

  .header__right:hover a {
    background-color: #d7fe3c;
    color: #000;
  }

  .header__right:hover svg path {
    fill: #000;
  }
}

@media (min-width: 481px) {
  .header {
    &__right {
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__right {
      a {
        .mobile {
          display: none;
        }

        .desktop {
          display: inline-block;
        }
      }
    }
  }
}

@media (min-width: 1090px) {
  .header {
    &__logo {
      flex: 1;
    }

    &__menu {
      justify-content: center;
      flex: 3;
      margin-right: 0;

      a {
        display: inline-block;
      }

      #nav-icon {
        display: none;
      }
    }

    &__right {
      flex: 1;
    }
  }
}
