@import 'variables';
@import 'mixins';
@import 'fontfaces';

$title-margins: (
  null: (0, 0, 40px, 0),
  small: (0, 0, 60px, 0),
  medium: (0, 0, 80px, 0),
);

$subtitle-margins: (
  null: (0, 0, 10px, 0),
  small: (0, 0, 10px, 0),
  medium: (0, 0, 12px, 0),
);

$preview-title-font-size: (
  null: (32px, 36px, normal),
  small: (36px, 40px, -1.5px),
  medium: (40px, 52px, -2px),
);

$preview-title-margins: (
  null: (0, 0, 40px, 0),
  small: (0, 0, 45px, 0),
  medium: (0, 0, 50px, 0),
);

html {
  // scroll-behavior: smooth;
}

body {
  font-family: DMSans, sans-serif;
  color: map-get($main_colors, 'body_color');
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;

  * {
    margin: 0;
    padding: 0;
  }
}

h1 {
  @include font-size($main_h1_sizes);

  font-weight: 700;
}

h2 {
  @include font-size($main_h2_sizes);

  font-weight: 700;
}

h3 {
  @include font-size($main_h3_sizes);
}

.main-title {
  @include font-size($main_h1_sizes);

  font-weight: 700;
}

.title {
  @include font-size($main_h2_sizes);
  @include element-indent($title-margins, 'margin');

  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.subtitle {
  @include font-size($main_h3_sizes);
  @include element-indent($subtitle-margins, 'margin');

  color: map-get($main_colors, 'body_grey');
  text-align: center;
  font-weight: 500;
  margin-bottom: 12px;
}

.preview-title {
  @include font-size($preview-title-font-size);
  @include element-indent($preview-title-margins, 'margin');
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;

  &__narrow {
    @extend .container;

    max-width: 1050px;
  }
}

.flex-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@import 'header';
@import 'index-page-header-block';
@import 'main-info-block';
@import 'typography-block';
@import 'features-block';
@import 'get-free-block';
@import 'button';
@import 'sign-up-block';
@import 'footer';
@import 'illustrations-block';

$preview-get-free-margins: (
  null: (60px, 0),
  small: (100px, 0),
  medium: (120px, 0),
);

.preview {
  .get-free-block {
    @include element-indent($preview-get-free-margins, 'margin');
  }

  .block-anchor {
    position: absolute;
    left: 0;
    top: -50px;
  }
}

@import 'preview-header-block';
@import 'charts-block';
@import 'notifications-block';
@import 'dropdowns-block';
@import 'pricing-cards-block';
@import 'togglers-inputs-block';
@import 'vertical-cards-block';
@import 'colors-block';
@import 'checkboxes-radio-block';
@import 'progerssbars-horizontalcards-block';
@import 'popups-block';
@import 'buttons-icons-block';
