$togglers-inputs-block-margins: (
  null: (60px, 0),
  small: (100px, 0),
  medium: (120px, 0),
);

.togglers-inputs-block {
  @include element-indent($togglers-inputs-block-margins, 'margin');

  .flex-inner {
    &__item {
      position: relative;
      width: 100%;

      .row {
        img {
          display: inline-block;
          margin-right: 30px;
          margin-bottom: 30px;
        }

        picture:last-child {
          img {
            margin-right: 0;
          }
        }
      }

      &:last-child {
        margin-top: 50px;
      }
    }
  }
}

@media (min-width: 768px) {
  .togglers-inputs-block {
    .flex-inner {
      &__item {
        width: 50%;

        img {
          max-width: calc(100% - 30px);
        }

        &:last-child {
          margin-top: 0;
        }
      }
    }
  }
}
