.get-free-block
  .get-free-block__header
    div
      img(src='/public/get-freee/Figma.svg' alt='Figma')
    div
      img(src='/public/get-freee/Sketch.svg' alt='Sketch')
  h2.get-free-block__title Get Deca UI Kit for Free
  p.get-free-block__subtitle A powerful design kit with a huge set of customizable elements and templates
  .get-free-block__button-container
    a.button_orange Download for Free
    a.button_orange_invert Explore Full Preview
