.header
  .header__logo
    a(href="/")  
      img(src="/public/logo_header.svg", alt="craftwork")
  .header__menu 
    a(href="#") UX/UI Systems
    a(href="#") illustrations
    a(href="#") templates
    a(href="#") freebies
  .header__right
    a(href="#") unlimited access
