.index-page-header-block
  .container
    .index-page-header-block__text
      .flex-inner.index-page-header-block__icons.wow.animate__fadeIn(data-wow-duration="1s")
       .index-page-header-block__icon
         img(src='/public/get-freee/Figma.svg' alt='Figma')
       .index-page-header-block__icon
        img(src='/public/get-freee/Sketch.svg' alt='Sketch')
      h1.main-title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.3s") Modern Decision for Web Creation with Deca UI Kit
      p.index-page-header-block__subtitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s") A powerful design kit with a huge set of customizable elements and templates
      .flex-inner
        a.button_orange.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.9s" href="#") Download for Free
        a.button_orange_invert.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1.2s" href="preview.html") Explore Full Preview
    .index-page-header-block__img.wow.animate__fadeIn(data-wow-duration="2.5s")  
      - var image_name= 'HeaderImg'
      include picture_generated_single_nolazy
