picture.notifications-block__item
  source(data-srcset=`/public/notifications/Group${val}@2x.png 2x, /public/notifications/Group${val}.png 1x`)
  img.lazy(data-src=`/public/notifications/Group${val}.png` alt=`Group${val}`)
