
a(class=`tag ${tag_class}` href=(typeof(tag_link) && tag_link !== '#') ? tag_link : null target='_blank')
  if (typeof(tag_svg) && tag_svg !== '')
    if (tag_svg == 'lightning')
      span
        svg(width='12' height='19' viewbox='0 0 12 19' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M11.7079 9.12783C12.3291 8.15641 11.9297 7.37188 10.8203 7.37188H8.00849V1.97413C8.00849 -0.352015 7.01506 -0.663505 5.78967 1.25823L0.291038 9.88069C-0.327205 10.8511 0.0752079 11.6356 1.18865 11.6356H3.97428V17.0365C3.97428 19.3489 4.97476 19.6667 6.20923 17.7345L11.7079 9.12783Z')
    if (tag_svg == 'dot')  
      span
        svg.dot(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M5.10243 1.40313C5.41263 0.572605 6.58737 0.572605 6.89757 1.40313C7.10373 1.95509 7.75451 2.19195 8.26723 1.90164C9.03871 1.46482 9.93861 2.21993 9.64239 3.05554C9.44553 3.61088 9.7918 4.21065 10.3712 4.31783C11.2429 4.4791 11.4469 5.63599 10.6829 6.0857C10.1751 6.38457 10.0549 7.0666 10.4298 7.52112C10.9939 8.20502 10.4066 9.22238 9.53222 9.07576C8.95113 8.97832 8.42061 9.42348 8.41567 10.0127C8.40823 10.8992 7.30433 11.301 6.72878 10.6266C6.34628 10.1785 5.65372 10.1785 5.27122 10.6266C4.69567 11.301 3.59177 10.8992 3.58433 10.0127C3.57939 9.42348 3.04887 8.97832 2.46778 9.07576C1.59342 9.22238 1.00605 8.20502 1.5702 7.52112C1.94514 7.0666 1.82488 6.38457 1.3171 6.0857C0.553063 5.63599 0.757055 4.4791 1.62882 4.31783C2.2082 4.21065 2.55447 3.61088 2.35761 3.05554C2.06139 2.21993 2.96129 1.46482 3.73277 1.90164C4.24549 2.19195 4.89627 1.95509 5.10243 1.40313Z')
    if (tag_svg == 'star')
      span 
        svg.star(width='12' height='11' viewbox='0 0 12 11' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M5.99995 9.44492L3.06917 10.9209C2.71839 11.0976 2.28453 10.9684 2.10012 10.6324C2.02669 10.4985 2.00135 10.3453 2.02802 10.1963L2.58775 7.07012L0.216695 4.85615C-0.0670881 4.59117 -0.0728948 4.15598 0.203725 3.88414C0.313877 3.77589 0.458209 3.70545 0.614376 3.68371L3.8911 3.2276L5.35649 0.383317C5.53188 0.0428944 5.96215 -0.0968747 6.31752 0.0711338C6.45903 0.138036 6.57358 0.247759 6.64342 0.383317L8.10881 3.2276L11.3855 3.68371C11.7777 3.7383 12.0494 4.0871 11.9924 4.46278C11.9698 4.61237 11.8962 4.75063 11.7832 4.85615L9.41215 7.07012L9.97188 10.1963C10.0389 10.5705 9.77655 10.9258 9.38595 10.99C9.23042 11.0155 9.07042 10.9912 8.93074 10.9209L5.99995 9.44492Z' fill='#F11414')      
  span= tag_text
