doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Deca Kit
  link(rel='preload' href='/public/fonts/DMSans-Regular.ttf' as='font' type='font/ttf' crossorigin='anonymous')
  link(rel='preload' href='/public/fonts/DMSans-Medium.ttf' as='font' type='font/ttf' crossorigin='anonymous')
  link(rel='preload' href='/public/fonts/DMSans-Bold.ttf' as='font' type='font/ttf' crossorigin='anonymous')
body
  include partials/header
  .index-page-header-block
    .container
      .index-page-header-block__text
        .flex-inner.index-page-header-block__icons
         .index-page-header-block__icon
           img(src='/public/get-freee/Figma.svg' alt='Figma')
         .index-page-header-block__icon
          img(src='/public/get-freee/Sketch.svg' alt='Sketch')
        h1.main-title Modern Decision for Web Creation with Deca UI Kit
        p.index-page-header-block__subtitle A powerful design kit with a huge set of customizable elements and templates
        .flex-inner
          a(href="#").button_orange Download for Free
          a(href="preview.html").button_orange_invert Explore Full Preview
      .index-page-header-block__img  
        - var image_name= 'HeaderImg'
        include partials/picture_generated_single
  .container
    .main-info-block
      p.subtitle Main Info
      h2.title UI Kit For Web Sites
      .flex-inner
        .flex-inner__item
          img(src='/public/main-info/Group1.svg' alt='Group1')
        .flex-inner__item
          img(src='/public/main-info/Group2.svg' alt='Group2')
        .flex-inner__item
          img(src='/public/main-info/Group3.svg' alt='Group3')
        .flex-inner__item
          img(src='/public/main-info/Group4.svg' alt='Group4')
  .container
    .components-short-preview-block
      p.subtitle Components
      h2.title Short Preview     
      .flex-inner.center-inner  
        - var directory_name= 'shortpreview'
        each val in [1, 2]
          .center-inner__item 
            include partials/picture_generated
        .center-inner__item
          .column_1 
            each val in [3] 
              include partials/picture_generated_drop_shadow_mb30
            each val in [6] 
              include partials/picture_generated  
          .column_2
            each val in [4] 
              include partials/picture_generated_drop_shadow_mb30
            each val in [7, 9] 
              include partials/picture_generated 
          .row  
            .row__column
              each val in [10, 13] 
                include partials/picture_generated 
            .row__column
              each val in [11] 
                include partials/picture_generated     
        .center-inner__item
          each val in [5]
            include partials/picture_generated_drop_shadow
          each val in [8, 12, 14] 
              include partials/picture_generated
      .components-short-preview-block__side
        .flex-inner.left-inner  
          - var directory_name= 'shortpreview'
          each val in [15, 16]
            .left-inner__item 
              include partials/picture_generated_drop_shadow
          each val in [17]
            .left-inner__item 
              include partials/picture_generated 
          each val in [18]
            .left-inner__item 
              include partials/picture_generated_drop_shadow 
          each val in [19]
            .left-inner__item 
              include partials/picture_generated          
        .flex-inner.right-inner
          - var directory_name= 'shortpreview'
          each val in [20, 21, 22, 23, 24, 25]
            .right-inner__item 
              include partials/picture_generated_drop_shadow
  .container
    .typography-block
      p.subtitle All Types
      h2.title Typography &amp; Color Sets
      .flex-inner
        .typography
          img.typography__front(src='/public/typography/Typography_Title.svg' alt='Typography')
        .colors
          picture
            source(srcset='/public/typography/Colors@2x.png 2x, /public/typography/Colors.png 1x')
            img(src='/public/typography/Colors.png' alt='img-7')
  .container__narrow
    .features-block
      p.subtitle Highlights
      h2.title UI Kit Features
      .flex-inner
        .flex-inner__item
          img(src='/public/features/Group1.svg' alt='Group1')
        .flex-inner__item
          img(src='/public/features/Group2.svg' alt='Group2')
        .flex-inner__item
          img(src='/public/features/Group3.svg' alt='Group3')
        .flex-inner__item
          img(src='/public/features/Group4.svg' alt='Group4')
        .flex-inner__item
          img(src='/public/features/Group5.svg' alt='Group5')
        .flex-inner__item
          img(src='/public/features/Group6.svg' alt='Group6')
  .container__narrow
    .get-free-block
      .get-free-block__header
        div
          img(src='/public/get-freee/Figma.svg' alt='Figma')
        div
          img(src='/public/get-freee/Sketch.svg' alt='Sketch')
      h2.get-free-block__title Get Deca UI Kit for Free
      p.get-free-block__subtitle A powerful design kit with a huge set of customizable elements and templates
      .get-free-block__button-container
        a.button_orange(href="#") Download for Free
        a.button_orange_invert(href="preview.html") Explore Full Preview
  .sign-up-block
    .sign-up-block__inner
      img.sign-up-block__logo(src='/public/logo_white.svg' alt='craftwork')
      h2.sign-up-block__title Sign up craftwork digest and get new UI releases every tuesday
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate.wow.animate__fadeIn(action='https://design.us11.list-manage.com/subscribe/post?u=1f4eca0391ca7ebd97f795949&id=69e024e383' method='post' name='mc-embedded-subscribe-form' data-wow-duration='1s' data-wow-delay='0.2s' target='_blank' novalidate='novalidate')
          .mc-field-group.form-group.position-relative
            input#mce-EMAIL.email.form-control.valid(type='email' value='' name='EMAIL' aria-invalid='false' placeholder='Enter your email')
            #mce-responses.clear
              #mce-error-response.response(style='display:none;')
              #mce-success-response.response(style='display:none;')
          div(style='position: absolute; left: -5000px;' aria-hidden='true')
            input(type='text' name='b_1f4eca0391ca7ebd97f795949_69e024e383' tabindex='-1' value='')
          input#mc-embedded-subscribe.button_blue(type='submit' value='Subscribe' name='subscribe')
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        p.sign-up-block__bottom No spam. Only releases, updates and discounts
  .footer__container
    include partials/footer
