doctype html
include partials/head
body
  style(type='text/css').
    .wow {
      visibility: hidden; 
    }
  include partials/header
  .hero-block
    .container
      div.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
        include partials/tm-logos-block
      h1.hero-block__maintitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") Free UI kit for easiest design experience
      p.hero-block__subtitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s") Clean and clear UI Kit with all necessary stuff to create design projects
      .hero-block__button-container
        a.button_white.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.8s" href="#") Download for Free
        a.button_white_invert.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1s" href="https://craftwork.design/downloads/category/ui-kits/") Explore more UI kits
    .inner 
      .hero-block__img.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1.2s")
        - var image_name= 'HeroImg'
        include partials/picture_generated_single_nolazy
  .discover-components-block
    .container
      .discover-components-block__heading
        p.subtitle.wow.animate__fadeIn(data-wow-duration="1s") Start best design experience with useful kit
        h2.title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Discover big library of 150+ components and save your time dealing with charts, popups, buttons and dropdowns
    .discover-components-block__img.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")
      - var image_name= 'DiscoverCompsImg'
      include partials/picture_generated_single
      //- img.lazy(data-src='/public/DiscoverCompsImg.svg', alt="Components")     
  .explore-deca-block
    .container
      .explore-deca-block__heading
        p.subtitle.wow.animate__fadeIn(data-wow-duration="1s") Product features
        h2.title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Explore what we put into Deca package
      .flex-inner
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")
          img.lazy(data-src="/public/explore-deca/Group1.svg", alt="Auto layouts")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.7s")
          img.lazy(data-src="/public/explore-deca/Group2.svg", alt="Grids")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.8s")
          img.lazy(data-src="/public/explore-deca/Group3.svg", alt="Color palette")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1.1s")
          img.lazy(data-src="/public/explore-deca/Group4.svg", alt="Typography")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.5s")
          img.lazy(data-src="/public/explore-deca/Group5.svg", alt="Text styles")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s")
          img.lazy(data-src="/public/explore-deca/Group6.svg", alt="Responsive")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.9s")
          img.lazy(data-src="/public/explore-deca/Group7.svg", alt="Components")
        .flex-inner__item.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1s")
          img.lazy(data-src="/public/explore-deca/Group8.svg", alt="Charts") 
  .colors-styles-block
    .colors-styles-block__heading
      p.subtitle.wow.animate__fadeIn(data-wow-duration="1s") Setup styles up to your personal taste
      h2.title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Easy customization is available by mixing colors and font styles for the best result
    .colors-styles-block__img-container.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s")      
      - var directory_name= 'colorsstyles'
        each val in [1, 2, 3, 4, 5, 6, 7]
          case val
            when 1
              - var delay = 0.4
            when 2
              - var delay = 0.9
            when 3
              - var delay = 0.5
            when 4
              - var delay = 1
            when 5
              - var delay = 0.6  
            when 5
              - var delay = 0.7  
            when 5
              - var delay = 0.8  
            default
              - var delay = 0.4
          div(class=`wow animate__fadeIn item item__${val}` data-wow-duration="1s" data-wow-delay=`${delay}s`) 
            include partials/picture_generated   
  .have-fun-block
    .have-fun-block__heading
      p.subtitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Full-fledged illustration constructor included
      h2.title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") 
        | Have fun with 20 scenes from #[a(href="https://stubborn.fun/") Stubborn Generator] to make your design perfect
    .have-fun-block__button-container
      a.button_blue.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s" href="#") Get full pack
      a.button_blue_invert.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.8s" href="https://craftwork.design/downloads/category/ui-kits/") Explore more UI kits
    .have-fun-block__img.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.8s")
      - var image_name= 'HaveFunImg'
      include partials/picture_generated_single 
  .ready-to-go-block
    div.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s")
      - var light = true
      include partials/tm-logos-block
    h1.ready-to-go-block__maintitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") Ready to go? Download Deca UI Kit for free
    .container
      p.ready-to-go-block__subtitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s") Clean and clear UI Kit with all necessary stuff to create design projects
      .ready-to-go-block__button-container
        a.button_black.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.8s" href="#") Download for Free
        a.button_black_invert.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="1s" href="https://craftwork.design/downloads/category/ui-kits/") Explore more UI kits
  .sign-up-block
    .sign-up-block__inner.sign-up-block__top
      h2.title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") More Craftwork assets
      p.subtitle.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.4s") High-quality design products for those who appreciate the time and choose great results.
    .sign-up-block__row
      .sign-up-block__column.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.5s") 
        p Landing Kit
        - var card_link = 'https://craftwork.design/downloads/singleton/'
        - var img_name = 'Singleton-shot'
        - var card_title = 'Singleton'
        - var card_description = 'Stylish and playful layouts for beautiful adaptive landings'
        - var card_blocks = '200+'
        - var card_layouts = 'Desktop, Mobile'
        - var card_comp = 'Figma, Sketch'
        include partials/card
      .sign-up-block__column.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s")  
        p Wireframe Kit
        - var card_link = 'https://craftwork.design/downloads/method-4/'
        - var card_title = 'Method'
        - var img_name = 'Method-shot'
        - var card_description = 'Find your method of creating great websites for desktops and mobiles'
        - var card_blocks = '480+'
        - var card_layouts = 'Desktop, Mobile'
        - var card_comp = 'Figma, Sketch'
        include partials/card
    .sign-up-block__inner
      img.sign-up-block__logo.wow.animate__fadeIn(data-wow-duration="1s"  src='/public/logo_white.svg' alt='craftwork')
      h2.sign-up-block__title.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.2s") Sign up craftwork digest and get new UI releases every tuesday
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate.wow.animate__fadeIn(action='https://design.us11.list-manage.com/subscribe/post?u=1f4eca0391ca7ebd97f795949&id=69e024e383' method='post' name='mc-embedded-subscribe-form' data-wow-duration='1s' data-wow-delay='0.4s' target='_blank' novalidate='novalidate')
          .mc-field-group.form-group.position-relative
            input#mce-EMAIL.email.form-control.valid(type='email' value='' name='EMAIL' aria-invalid='false' placeholder='Enter your email')
            #mce-responses.clear
              #mce-error-response.response(style='display:none;')
              #mce-success-response.response(style='display:none;')
          div(style='position: absolute; left: -5000px;' aria-hidden='true')
            input(type='text' name='b_1f4eca0391ca7ebd97f795949_69e024e383' tabindex='-1' value='')
          input#mc-embedded-subscribe.button_blue(type='submit' value='Subscribe' name='subscribe')
        script(type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        p.sign-up-block__bottom.wow.animate__fadeIn(data-wow-duration="1s" data-wow-delay="0.6s") No spam. Only releases, updates and discounts
  .footer__container
    include partials/footer
  include partials/scripts 
