doctype html
include partials/head
body.preview
  include partials/header
  .container
    .preview-header-block
      p.preview-header-block__subtitle Deca UI Kit
      h1.main-title Full Preview
      .flex-inner
        a.preview-header-block__link(href="#Popups") Popups
        a.preview-header-block__link(href="#Colors") Grids
        a.preview-header-block__link(href="#Checkboxes") Checkboxes
        a.preview-header-block__link(href="#Radio") Radio Buttons
        a.preview-header-block__link(href="#Progress") Progress Bars
        a.preview-header-block__link(href="#Horizontal") Horizontal Cards
        a.preview-header-block__link(href="#Toggles") Toggles
        a.preview-header-block__link(href="#Inputs") Inputs
        a.preview-header-block__link(href="#Vertical") Vertical Cards
        a.preview-header-block__link(href="#Pricings") Pricings
        a.preview-header-block__link(href="#Dropdowns") Dropdowns
        a.preview-header-block__link(href="#Notifications") Notifications
        a.preview-header-block__link(href="#Charts") Charts
        a.preview-header-block__link(href="#Illustrations") Illustrations
  .container
    .buttons-icons-block
      .flex-inner
        .flex-inner__item
          .preview-title Buttons
          include partials/picturebuttons
        .flex-inner__item
          .preview-title Icons
          include partials/pictureicons
  .container
    .popups-block
      .block-anchor#Popups
      .preview-title Popups
      .flex-inner
        - var directory_name= 'popups'
        each val in [1, 2, 3, 4, 5, 6]
          .flex-inner__item
            include partials/picture_generated  
  .container
    .colors-block
      .block-anchor#Colors
      .preview-title Colors
      .flex-inner
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          .flex-inner__item
            include partials/picturecolor
  .container
    .checkboxes-radio-block    
      .flex-inner
        .flex-inner__item
          .block-anchor#Checkboxes
          .preview-title Checkboxes
          - var image_name= 'Checkboxes'
          include partials/picture_generated_single
        .flex-inner__item
          .block-anchor#Radio
          .preview-title Radio Buttons
          - var image_name= 'RadioButtons'
          include partials/picture_generated_single  
  .container
    .progerssbars-horizontalcards-block 
      .flex-inner
        .flex-inner__item
          .block-anchor#Progress
          .preview-title Progress Bars
          - var directory_name= 'progressbars'
          each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
              include partials/picture_generated 
        .flex-inner__item
          .block-anchor#Horizontal
          .preview-title Horizontal Cards
          - var directory_name= 'horizontalcards'
          each val in [1, 2, 3, 4, 5, 6, 7, 8]
              include partials/picture_generated    
  .container
    .togglers-inputs-block
      .flex-inner
        .flex-inner__item
          .block-anchor#Toggles
          .preview-title Toggles
          - var directory_name= 'toggles'
          .row
            each val in [1, 2]
              include partials/picture_generated 
          .row
            each val in [3, 4]
              include partials/picture_generated 
          .row
            each val in [5, 6]
              include partials/picture_generated         
        .flex-inner__item
          .block-anchor#Inputs
          .preview-title Inputs
          - var directory_name= 'inputs'
           .row
            each val in [1, 2]
              include partials/picture_generated 
          .row
            each val in [3, 4]
              include partials/picture_generated 
          .row
            each val in [5, 6]
              include partials/picture_generated 
          .row
            each val in [7, 8]
              include partials/picture_generated
          .row
            each val in [9, 10]
              include partials/picture_generated
          .row
            each val in [11, 12]
              include partials/picture_generated    
  .container
    .vertical-cards-block
      .block-anchor#Vertical
      .preview-title Vertical Cards
      .flex-inner
        - var directory_name= 'verticalcards'
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          .flex-inner__item
            include partials/picture_generated
  .container
    .pricing-cards-block
      .block-anchor#Pricings
      .preview-title Pricing Cards
      .flex-inner
        each val in [1, 2, 3, 4]
          .flex-inner__item
            include partials/picturepricingcard
  .container
    .dropdowns-block
      .block-anchor#Dropdowns
      .preview-title Dropdowns
      .flex-inner
        each val in [1, 2, 3, 4, 5]
          .flex-inner__item
            include partials/picturedropdown
  .container
    .notifications-block
      .block-anchor#Notifications
      .preview-title Notifications
      .flex-inner
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
          include partials/picturenotifications
  .container
    .charts-block
      .block-anchor#Charts
      .preview-title Charts
      .flex-inner
        .flex-inner__item
          each val in [1, 3, 5, 8]
            include partials/picturechart_full
        .flex-inner__item 
          each val in [2, 4]
            include partials/picturechart_full
          .halfchart  
            each val in [6, 7]
              include partials/picturechart_half
          .halfchart  
            each val in [9, 10]
              include partials/picturechart_half    
  .container
    .illustrations-block
      .block-anchor#Illustrations
      .preview-title Illustrations
      .flex-inner
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
          .flex-inner__item
            include partials/picture
  .container__narrow
    include partials/get-free-block
  .footer__container  
    include partials/footer 
    
